{% extends "admin/change_list.html" %}
{% load massmedia_admin admin_list i18n %}
{% block extrastyle %}
{{block.super}}
	<style type="text/css" media="screen">
		#changelist table tbody td {
		    text-align: center;
		}
		#changelist table tbody td input {
			text-align: left;
			margin-bottom: 5px;
		}
	</style>
{% ifequal cl.params.pop '2' %}
<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce_popup.js">
<script type="text/javascript" charset="utf-8">
function myDismissAddAnotherPopup(win, newId, newRepr) {
	win.close();
	document.location.reload();
}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}massmedia/js/mm_tinymce.js">
</script>
{% endifequal %}
{% endblock %}
{% block object-tools %}
{% ifequal cl.params.pop '2' %}
{% if has_add_permission %}
  <ul class="object-tools">
    <li>
      <a href="{% url "admin:massmedia_image_add" %}{% if is_popup %}?_popup=1&amp;pop=2{% endif %}" class="addlink" target="_blank">
        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
      </a>
    </li>
  </ul>
{% endif %}
{% else %}
{{ block.super }}
{% endifequal %}
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
    {% thumbnail_result_list cl %}
    {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
