{% extends "admin/change_list.html" %}
{% load massmedia_admin admin_list %}
{% block extrastyle %}
{{block.super}}
	<style type="text/css" media="screen">
		#changelist table tbody td {
		    text-align: center;
		}
		#changelist table tbody td input {
			text-align: left;
			margin-bottom: 5px;
		}
	</style>
{% ifequal cl.params.pop '2' %}

<script type="text/javascript" src="{% url massmedia.views.tinymcepopup_url %}"></script>
{% if STATIC_URL %}
<script type="text/javascript" src="{{ STATIC_URL }}massmedia/js/mm_tinymce.js">
{% else %}
<script type="text/javascript" src="{{ MEDIA_URL }}massmedia/js/mm_tinymce.js">
{% endif %}

</script>
{% endifequal %}
{% endblock %}
{% block result_list %}
    {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
    {% thumbnail_result_list cl %}
    {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
